
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Home.css" media="screen" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="grids">
            <div class="small__grid">
                <div class="small__gridImage">
                    <img src="../../images/carrots.jpg">
                </div>
                <div class="small__gridInfo">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ut sit quia asperiores dicta aliquam doloremque, veritatis fugit perspiciatis laborum itaque error porro in sed culpa officia omnis saepe ad.</p>
                </div>
            
            </div>
           
          
        
        </div>
    </div>
</body>
</html>