.product {
    display: flex;
    flex-direction: column;
    z-index: 1;
    overflow: hidden;
    background-color: #faf8f8;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    max-width: 100%;
    min-height: 200px;
    min-width: 100px;
}

.product__image {

    object-fit: contain;
    margin-bottom: 15px;
}

.product__image>img {
    max-height: 100px;
    max-width: 200px;
    background-position: center;
    background-repeat: no-repeat;
}

.product__info>button {
    background: #cd9042;
    border: 1px solid #b87d31;
    margin-top: 10px;
    padding: 5px;
    color: black;
    cursor: pointer;

}

.product__title {
    white-space: initial;
    word-wrap: break-word;
    max-width: 25%;
}

.product__info {
    min-height: 150px;
    margin-bottom: 5px;

}

.product__price {
    margin-top: 5px;
}

.product_rating {
    display: flex;
}

.toast {
    display: flex;
}

.toast__productImage {
    object-fit: contain;
    width: 50px;
    height: 50px;
}

.toast__productInfo {
    padding-left: 20px;
}

.toast__productPrice {
    margin-top: 5px;

}

.toast__basketButtonPrice {
    margin-left: 3px;
}

.toast__icon {
    object-fit: contain;
    color: green;
}

.toast__heading {
    color: green;
}

.toast__basketButton>button {
    background: #cd9042;
    border: 1px solid #b87d31;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    color: black;
    cursor: pointer;
    margin-bottom: 5px;
}